
node_modules/**
allure-results*
cypress/logs/*
S3_bucket/*json
.DS_Store
*.mp4
allure-reports/*
sample-allure-report/*
allure-results/screenshots/*
cypress/results/**
allure-report/*
cypress/results/mochawesome/*
cypress/screenshots/*
.idea/*
screenshots/*
report/screenshots/*
archive/*zip
cypress/fixtures/files/S3_bucket/**
